n8n/ENHANCED_SERENITY_WORKFLOW.json
{
  "name": "Enhanced Serenity Dashboard Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "serenity-webhook-v2",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "serenity-webhook-v2"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "send_whatsapp"
            }
          ]
        }
      },
      "id": "if-send-whatsapp",
      "name": "IF Send WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "send_sms"
            }
          ]
        }
      },
      "id": "if-send-sms",
      "name": "IF Send SMS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 350]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "send_email"
            }
          ]
        }
      },
      "id": "if-send-email",
      "name": "IF Send Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 500]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "send_message"
            }
          ]
        }
      },
      "id": "if-send-message",
      "name": "IF Send Message",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 650]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.action}}",
              "operation": "equals",
              "value2": "book_appointment"
            }
          ]
        }
      },
      "id": "if-book-appointment",
      "name": "IF Book Appointment",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 800]
    },
    {
      "parameters": {
        "fromNumber": "whatsapp:{{$json.body.twilio_number || '+12526453035'}}",
        "toNumber": "whatsapp:{{$json.body.phone}}",
        "message": "={{$json.body.message}}",
        "credentials": "twilioApi"
      },
      "id": "send-whatsapp-twilio",
      "name": "Send WhatsApp (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [700, 200],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "fromNumber": "={{$json.body.twilio_number || '+12526453035'}}",
        "toNumber": "={{$json.body.phone}}",
        "message": "={{$json.body.message}}",
        "credentials": "twilioApi"
      },
      "id": "send-sms-twilio",
      "name": "Send SMS (Twilio)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [700, 350],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.email}}",
        "subject": "={{$json.body.subject || 'Message from Serenity Hospital'}}",
        "message": "={{$json.body.message}}",
        "credentials": "gmailOAuth2"
      },
      "id": "send-email-gmail",
      "name": "Send Email (Gmail)",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [700, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.channel}}",
              "operation": "equals",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "if-channel-whatsapp",
      "name": "IF Channel WhatsApp",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 650]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.channel}}",
              "operation": "equals",
              "value2": "sms"
            }
          ]
        }
      },
      "id": "if-channel-sms",
      "name": "IF Channel SMS",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [700, 750]
    },
    {
      "parameters": {
        "fromNumber": "whatsapp:{{$json.body.twilio_number || '+12526453035'}}",
        "toNumber": "whatsapp:{{$json.body.phone}}",
        "message": "={{$json.body.message}}",
        "credentials": "twilioApi"
      },
      "id": "send-message-whatsapp",
      "name": "Send Message WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [950, 650],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "fromNumber": "={{$json.body.twilio_number || '+12526453035'}}",
        "toNumber": "={{$json.body.phone}}",
        "message": "={{$json.body.message}}",
        "credentials": "twilioApi"
      },
      "id": "send-message-sms",
      "name": "Send Message SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [950, 750],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "appointment",
        "operation": "create",
        "appointmentFields": {
          "patient_name": "={{$json.body.patient_name || $json.body.patientName}}",
          "patient_email": "={{$json.body.patient_email || $json.body.patientEmail}}",
          "patient_phone": "={{$json.body.patient_phone || $json.body.patientPhone || $json.body.phone}}",
          "appointment_date": "={{$json.body.appointment_date || $json.body.appointmentDate || $json.body.date}}",
          "appointment_time": "={{$json.body.appointment_time || $json.body.appointmentTime || $json.body.time}}",
          "reason": "={{$json.body.reason || $json.body.appointmentReason || 'General consultation'}}",
          "status": "confirmed"
        },
        "credentials": "supabaseApi"
      },
      "id": "create-appointment-supabase",
      "name": "Create Appointment (Supabase)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [700, 800],
      "credentials": {
        "supabaseApi": {
          "id": "3",
          "name": "Supabase Connection"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.body.patient_email || $json.body.patientEmail || $json.body.email}}",
        "subject": "Appointment Confirmation - Serenity Hospital",
        "message": "=Dear {{$json.body.patient_name || $json.body.patientName}},\n\nYour appointment has been confirmed:\n\nDate: {{$json.body.appointment_date || $json.body.appointmentDate || $json.body.date}}\nTime: {{$json.body.appointment_time || $json.body.appointmentTime || $json.body.time}}\nReason: {{$json.body.reason || $json.body.appointmentReason || 'General consultation'}}\n\nPlease arrive 10 minutes early.\n\nBest regards,\nSerenity Royale Hospital",
        "credentials": "gmailOAuth2"
      },
      "id": "send-appointment-email",
      "name": "Send Appointment Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 1,
      "position": [950, 800],
      "credentials": {
        "gmailOAuth2": {
          "id": "2",
          "name": "Gmail Account"
        }
      }
    },
    {
      "parameters": {
        "fromNumber": "={{$json.body.twilio_number || '+12526453035'}}",
        "toNumber": "={{$json.body.patient_phone || $json.body.patientPhone || $json.body.phone}}",
        "message": "=Appointment confirmed for {{$json.body.appointment_date || $json.body.appointmentDate || $json.body.date}} at {{$json.body.appointment_time || $json.body.appointmentTime || $json.body.time}}. Serenity Hospital.",
        "credentials": "twilioApi"
      },
      "id": "send-appointment-sms",
      "name": "Send Appointment SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [950, 900],
      "credentials": {
        "twilioApi": {
          "id": "1",
          "name": "Twilio Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Action completed successfully\", \"action\": $json.body.action, \"timestamp\": new Date().toISOString() } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1200, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"message\": \"Unknown action\", \"action\": $json.body.action } }}",
        "responseCode": 400
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 1000]
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "resource": "database",
        "operation": "insert",
        "table": "messages",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{$json.body.conversation_id}}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{$json.body.message}}"
            },
            {
              "fieldId": "sender",
              "fieldValue": "assistant"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{$json.body.channel}}"
            }
          ]
        },
        "credentials": "supabaseApi"
      },
      "id": "save-message-to-db",
      "name": "Save Message to Database",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [950, 850],
      "credentials": {
        "supabaseApi": {
          "id": "3",
          "name": "Supabase Connection"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "IF Send WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Send SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Send Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Send Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Book Appointment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send WhatsApp": {
      "main": [
        [
          {
            "node": "Send WhatsApp (Twilio)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send SMS": {
      "main": [
        [
          {
            "node": "Send SMS (Twilio)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send Email": {
      "main": [
        [
          {
            "node": "Send Email (Gmail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Send Message": {
      "main": [
        [
          {
            "node": "IF Channel WhatsApp",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF Channel SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Book Appointment": {
      "main": [
        [
          {
            "node": "Create Appointment (Supabase)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp (Twilio)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS (Twilio)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email (Gmail)": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Channel WhatsApp": {
      "main": [
        [
          {
            "node": "Send Message WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Channel SMS": {
      "main": [
        [
          {
            "node": "Send Message SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message WhatsApp": {
      "main": [
        [
          {
            "node": "Save Message to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message SMS": {
      "main": [
        [
          {
            "node": "Save Message to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Appointment (Supabase)": {
      "main": [
        [
          {
            "node": "Send Appointment Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Appointment SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Appointment Confirmation Email": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Appointment SMS": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Message to Database": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-09T00:00:00.000Z",
  "versionId": "1"
}
